*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Exo' sans-serif;
}
p{
    font-family: 'PT Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #363738;
}
$primary-color: #0B7572;
$main-text: #363738;
$secondary-text: #6B6B6C;